<div id="photo-container">
    <!-- @TODO Replace with actual image -->
    <svg (click)="redirectTo('/admin/home')" id="photo" xmlns="http://www.w3.org/2000/svg" width="176" height="176" viewBox="0 0 176 176" fill="none">
        <circle cx="88" cy="88" r="88" fill="#AFAFAF"/>
    </svg>
    <h2>Assalamualaikum, {{username}}!</h2>
</div>
<ul id="navbar">
    <li (click)="redirectTo('/admin/classes')"  [ngClass]="{'active' : activeTab === '/admin/classes'}">
        <mat-icon >class</mat-icon>
        &nbsp;
        Manage Classes
    </li>
    
    <li (click)="redirectTo('/admin/students')" [ngClass]="{'active' : activeTab === '/admin/students'}">
        <mat-icon>people</mat-icon>
        &nbsp;
        Manage Students
    </li>

    <li (click)="redirectTo('/admin/teachers')" [ngClass]="{'active' : activeTab === '/admin/teachers'}">
        <mat-icon>work</mat-icon>
        &nbsp;
        Manage Teachers
    </li>

    <li (click)="redirectTo('/admin/sessions')" [ngClass]="{'active' : activeTab === '/admin/sessions'}">
        <mat-icon>calendar_today</mat-icon>
        &nbsp;
        Manage Sessions
    </li>
</ul>