#main-container{
    width: 100%;
    height: 100%;
}

#sidenav{
    background: #673AB7;
    box-shadow: 4px 0px 10px 4px rgba(0, 0, 0, 0.25);
}

#main-content{
    height: 80%;
    padding-top: 10%;
    padding-left: 50px;
    padding-right: 20px;
}
