<div id="photo-container">
    <!-- @TODO Replace with actual image -->
    <svg (click)="redirectTo('home')" id="photo" xmlns="http://www.w3.org/2000/svg" width="176" height="176" viewBox="0 0 176 176" fill="none">
        <circle cx="88" cy="88" r="88" fill="#AFAFAF"/>
    </svg>
    <h3>Assalamualaikum, {{username}}!</h3>
</div>

<ul id="navbar">
    <li (click)="redirectTo('classes')">
        <mat-icon >class</mat-icon>
        &nbsp;
        Manage Classes
    </li>
    
    <li (click)="redirectTo('students')">
        <mat-icon>people</mat-icon>
        &nbsp;
        Manage Students
    </li>

    <li (click)="redirectTo('classes')">
        <mat-icon>work</mat-icon>
        &nbsp;
        Manage Teachers
    </li>
</ul>