:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 800px;
    min-height: 590px;
    gap: 20px;
}

#tpa-splash{
    height: 60%;
}

#welcome-msg{
    *{
        margin: 0;
        text-align: center;
    }
    gap: 5px;
    width: 80%;
}